# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

similarity.pkl

.streamlit/secrets.toml